/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// ********************
// Size XS
// ********************
@media only screen and (max-width: 599px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        width: auto;
    }
    .col-xs-1 {
        width: 12.5%;
    }
    .col-xs-2 {
        width: 25%;
    }
    .col-xs-3 {
        width: 37.5%;
    }
    .col-xs-4 {
        width: 50%;
    }
    .col-xs-5 {
        width: 62.5%;
    }
    .col-xs-6 {
        width: 75%;
    }
    .col-xs-7 {
        width: 87.5%;
    }
    .col-xs-8 {
        width: 100%;
    }

    .col-offset-xs-1 {
        margin-left: 12.5%;
    }
    .col-offset-xs-2 {
        margin-left: 25%;
    }
    .col-offset-xs-3 {
        margin-left: 37.5%;
    }
    .col-offset-xs-4 {
        margin-left: 50%;
    }
    .col-offset-xs-5 {
        margin-left: 62.5%;
    }
    .col-offset-xs-6 {
        margin-left: 75%;
    }
    .col-offset-xs-7 {
        margin-left: 87.5%;
    }
    .col-offset-xs-8 {
        margin-left: 100%;
    }

    .custom-offset-sm-1 {
        margin-left: 5%;
    }
}
// ********************
// Size Sm
// ********************
@media only screen and (min-width: 600px) and (max-width: 991px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        width: 750px;
    }

    .col-sm-1 {
        width: 12.5%;
    }
    .col-sm-2 {
        width: 25%;
    }
    .col-sm-3 {
        width: 37.5%;
    }
    .col-sm-4 {
        width: 50%;
    }
    .col-sm-5 {
        width: 62.5%;
    }
    .col-sm-6 {
        width: 75%;
    }
    .col-sm-7 {
        width: 87.5%;
    }
    .col-sm-8 {
        width: 100%;
    }

    .col-offset-sm-1 {
        margin-left: 12.5%;
    }
    .col-offset-sm-2 {
        margin-left: 25%;
    }
    .col-offset-sm-3 {
        margin-left: 37.5%;
    }
    .col-offset-sm-4 {
        margin-left: 50%;
    }
    .col-offset-sm-5 {
        margin-left: 62.5%;
    }
    .col-offset-sm-6 {
        margin-left: 75%;
    }
    .col-offset-sm-7 {
        margin-left: 87.5%;
    }
    .col-offset-sm-8 {
        margin-left: 100%;
    }

    .custom-offset-sm-2 {
        margin-left: 5%;
    }
}
// ********************
// Size md
// ********************
@media only screen and (min-width: 992px) and (max-width: 1480px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        width: 970px;
    }
    .col-md-1 {
        width: 8.33% !important;
    }
    .col-md-2 {
        width: 16.66% !important;
    }
    .col-md-3 {
        width: 25% !important;
    }
    .col-md-4 {
        width: 33.33% !important;
    }
    .col-md-5 {
        width: 41.66% !important;
    }
    .col-md-6 {
        width: 50% !important;
    }
    .col-md-7 {
        width: 58.33% !important;
    }
    .col-md-8 {
        width: 66.66% !important;
    }
    .col-md-9 {
        width: 75% !important;
    }
    .col-md-10 {
        width: 83.33% !important;
    }
    .col-md-11 {
        width: 91.66% !important;
    }
    .col-md-12 {
        width: 100% !important;
    }

    .col-offset-md-1 {
        margin-left: 8.33% !important;
    }
    .col-offset-md-2 {
        margin-left: 16.66% !important;
    }
    .col-offset-md-3 {
        margin-left: 25% !important;
    }
    .col-offset-md-4 {
        margin-left: 33.33% !important;
    }
    .col-offset-md-5 {
        margin-left: 41.66% !important;
    }
    .col-offset-md-6 {
        margin-left: 50% !important;
    }
    .col-offset-md-7 {
        margin-left: 58.33% !important;
    }
    .col-offset-md-8 {
        margin-left: 66.66% !important;
    }
    .col-offset-md-9 {
        margin-left: 75% !important;
    }
    .col-offset-md-10 {
        margin-left: 83.33% !important;
    }
    .col-offset-md-11 {
        margin-left: 91.66% !important;
    }
    .col-offset-md-12 {
        margin-left: 100% !important;
    }
}
// ********************
// Size LG
// ********************
@media only screen and (min-width: 1500px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        width: 1170px;
    }
    .col-lg-1 {
        width: 8.33% !important;
    }
    .col-lg-2 {
        width: 16.66% !important;
    }
    .col-lg-3 {
        width: 25% !important;
    }
    .col-lg-4 {
        width: 33.33% !important;
    }
    .col-lg-5 {
        width: 41.66% !important;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.33% !important;
    }
    .col-lg-8 {
        width: 66.66% !important;
    }
    .col-lg-9 {
        width: 75% !important;
    }
    .col-lg-10 {
        width: 83.33% !important;
    }
    .col-lg-11 {
        width: 91.66% !important;
    }
    .col-lg-12 {
        width: 100% !important;
    }

    .col-offset-lg-1 {
        margin-left: 8.33% !important;
    }
    .col-offset-lg-2 {
        margin-left: 16.66% !important;
    }
    .col-offset-lg-3 {
        margin-left: 25% !important;
    }
    .col-offset-lg-4 {
        margin-left: 33.33% !important;
    }
    .col-offset-lg-5 {
        margin-left: 41.66% !important;
    }
    .col-offset-lg-6 {
        margin-left: 50%;
    }
    .col-offset-lg-7 {
        margin-left: 58.33% !important;
    }
    .col-offset-lg-8 {
        margin-left: 66.66% !important;
    }
    .col-offset-lg-9 {
        margin-left: 75% !important;
    }
    .col-offset-lg-10 {
        margin-left: 83.33% !important;
    }
    .col-offset-lg-11 {
        margin-left: 91.66% !important;
    }
    .col-offset-lg-12 {
        margin-left: 100% !important;
    }
}
